@tailwind base;
@tailwind components;
@tailwind utilities;

.css-dip3t8 {
    background-color: #352A35 !important;
    border-right-width: 8px;
    border-right-color: #2a212a;
}

.css-1bdadyq:hover {
    background-color: inherit !important;
}

.css-ewdv3l {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.css-1k88rtw {
    border-right: none !important;
}

.css-apqrd9-MuiTableBody-root {
    background-color: #333c5c;
}


.css-10bey84-MuiSvgIcon-root-MuiNativeSelect-icon {
    color: white;
    margin-left: 2px;
}

.css-16jkw2k:hover .menu-icon-text {
    color: black !important;
}

.css-djpzgj-MuiTableRow-root:hover {
    background-color: #FCEBFC;
}

.create-prod-ware-container>.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    height: 32px;
}

.css-757jl3-MuiPaper-root,
.css-fb9y8i-MuiPaper-root {
    box-shadow: none !important;
}